@media (min-width: 1000px) {
  * {
    box-sizing: border-box;
  }
}
@media (max-width: 900px) {
  .headercontainer {
    margin-left: 0;
  }
  .logocontainer {
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: -4px;
  }
  .eight {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
  }
  /* ----------------------   logo V  ------------------- */
  .v {
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .searchmenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-right: 0;
  }
  .searchbar {
    border: 1px solid darkgray;
    padding: 2px;
    height: 2.5rem;
    width: 70vw;
    align-content: center;
    justify-content: center;
    margin-top: 0.6rem;
  }
  .searchbar input[type="text"] {
    height: 2.2rem;
  }
  .menu {
    min-width: 40em;
    justify-content: space-evenly;
    margin-top: 1.2rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    overflow: auto;
  }
  .menuitem a {
    font-weight: 400;
  }

  .logocontainer {
    align-self: center;
    margin: 0;
    margin-top: 0.2rem;
  }
}
@media (max-width: 600px) {
  .headercontainer {
    margin-left: 0;
  }
  .menudiv {
    overflow-x: scroll;
  }
  .searchbar {
    width: 90vw;
    margin-top: 0.5rem;
  }
  .header {
    display: block;
  }
  .logocontainer {
    margin-top: 0.2rem;
    width: 100%;
  }
  .menu {
    justify-content: space-evenly;
    margin-top: 1.2rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .menudiv::-webkit-scrollbar {
    height: 1px;
  }
  .menu {
    font-size: 0.94em;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
  }
  .menudiv {
    overflow-x: scroll;
  }
  .headercontainer {
    margin-left: 0;
  }

  .header {
    display: block;
  }
  .logocontainer {
    margin-top: 0.2rem;
    margin-right: 0;
  }
  .searchbar {
    width: 90vw;
    margin-top: 0.5rem;
    border: 0.4px solid rgb(196, 196, 196);
  }
}
